<h1>Paycheck templates</h1>

<table>
  <tr>
    <th>Template</th>
    <th># lines</th>
    <th></th>
    <th></th>

  </tr>

  <tr>
    <td>
      Global template
    </td>
    <td>
    </td>
    <td><%= link_to 'Show', edit_paycheck_template_path(:global) %></td>
    <td>
    </td>

  </tr>

<% @employees.each do |emp| %>
  <tr>
    <td><%= emp.name %></td>
    <td>
    </td>
    <td><%= link_to 'Show', edit_paycheck_template_path(emp.id) %></td>
    <td>      
    </td>
  </tr>
<% end %>
</table>

<br />

