
/*
  Make the default font a bit smaller
  */
body
{
    background-color: #ddd;
    padding: 0%;
    margin: 0%;
}

body
{
    font-size: 80%;
    font-family: sans-serif;
}

/*
  Heading styles
  */

h1, h2, h3, h4 
{
    margin-left:0em;
    color: #333;
}

h1
{
    font-size: 120%;
}

h2
{
    font-size: 100%;
}

/*
  Form styling
  */
button
{
    background-color: #eee;
    border: 1px solid #888;
    padding: 0px 5px 0px 5px;
    color: black;
}

button:hover
{
    background-color: white;
}
input
{
    background-color: white;
    border: 1px solid #888;
    color: black;
}

select
{
    max-width: 15em;

}

input.numeric
{
    width: 5em;
}

td input
{
    margin-top: 2px;
    margin-bottom: 2px;
}

.rich_edit
{
    width: 250px;
    height: 75px;
}

.button_list
{
    margin: 0.5em;
    clear:left;
}

/*
  Styling for images that look like buttons.
  */
.content .edit,
.content .remove,
.content .revision,
.content .revert
{
    background-color: #eee;
    border: 1px solid #888;
    color: black;
    text-decoration: none;
    padding: 1px 6px 1px 6px;
    margin-top: 2px;
    margin-bottom: 2px;
    /* 

Kludge: This would ideally be the total size of the text box (which
is defined in pt) plus the size of the borders, margins, etc.,
which are defined in pixels, as well as a bit of extra margin,
which is also defined in pixels. Sadly, that is impossible, so
we have this semi-arbitrary number, which looks good most of the time.

It's worth investigating if all links could be wrapped in a div in a
box, to add the top/bottom margins, thus working around the problem.

*/
    line-height: 19pt;
}

.content .edit:hover,
.content .remove:hover
{
    background-color: white;
}

.anchor
{
    display: block;
    position:relative;
}


/*
  Styling of popups
  */
.popup
{
    display:none;
    position: fixed;
    left: 20%;
    top: 10%;
    background: white;
    border: 1px solid black;
    padding: 0px;
    z-index: 3;
}

.popup_content
{
    padding: 5px 15px;
}

.popup_title
{
    background: #777;
    color: #fff;
    font-weight:bold;
    padding: 3px;
    
}

.popup_title a
{
    position:absolute;
    right: 0px;
    top: 0px;
    color: #fff;
    font-family: sans-serif;
    padding: 3px 6px;
    margin:0px;
    
}

.popup_title a:link,
.popup_title a:visited,
.popup_title a:hover 
{
    text-decoration: none;
}


.popup_title a:hover 
{
    background: #555;
}


/*
  Styling of mouseovers
  */
.onmouseover
{
    display:none;
}

.mouseoverowner
{
    position: relative;
}

:hover.mouseoverowner .onmouseover
{
    display:block;
    position: absolute; 
    top: 20px; left: 40px;
    width: 250pt;
    background: #ffa;
    border: 1px solid black;
    z-index: 1;
    font-size: small;
    padding: 5px 15px;
    color: black;
}

/*
  Styling of floating figures
  */
.figure 
{
    float:left;
    margin: 1em 1em 0em 0em;
    padding: 0.5em;
    border: 1px solid #aaa;
    background-color: white;
    overflow: auto;
    text-align: center;
}

.figure img,
.figure object
{
    display:block;
}

.figure .caption
{
    font-style: italic;
}

/*
  Styling of tables
  */
table
{
    border-collapse: collapse;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: 1px solid #aaa;
}

.ci_list_table,
.ci_table,
.history_table
{
    float: left;
    max-width: 60em;
}

td, th
{
    border-bottom: 1px solid #aaa;
    padding-left: 5pt;
    padding-right: 5pt;
    vertical-align: top;
}

td.odd
{
    background-color: #eee;
}

th.odd
{
    background-color: #555;
}

th
{
    background-color: #777;
    color: #fff;
    border-right: 1px solid white;
    text-align: left;
}

th:last-child
{
    border-right: none;
}

/*
  Default link styling
  */
a
{
    color: black;
}

a:hover
{
    color: #999;
}

a:visited
{
    color: #888;
}

/*
Stykling for installation screen
*/

.content_install
{
    background-color: white;
    margin: 1%;
    padding: 0%;
}

/*
  Styling of the main menu at the top
  */
.main_menu
{
    background-color: white;
    margin: 1%;
    padding: 0%;
}

.main_menu ul
{
    padding: 1em;
    margin: 0%;
    border: 1px solid #aaa;
}

.main_menu li
{
    display: inline;
    list-style-type: none;
    padding-right: 3em;
    padding-left: 0%;
    margin: 0%;
}


.main_menu .selected
{
    font-weight: bold;
}

.main_menu a
{
    color: black;
    text-decoration: none;
}

/*
  Styling of the message list
  */
.messages
{
    background-color: white;
    margin: 1%;
    padding: 0%;
}

.messages .messages_inner
{
    padding: 1em;
    margin: 0%;
    border: 1px solid #aaa;
}

.error
{
    color: #900;
}



/*
  Styling of the variable menu on the side
  */
.action_menu
{
    background-color: white;
    float: left;
    width: 15%;
    padding: 0%;
    margin-left: 1%;
}

.action_menu ul
{
    margin: 0%;
    padding: 1em;
    border: 1px solid #aaa;
}

.action_menu li
{
    list-style-type: none;
    padding: 0%;
    margin: 0%;
}

.action_menu li h2,
.action_menu li h3,
.action_menu li h4
{
    margin-left: 0px;
}

.action_menu a
{
    color: black;
    text-decoration: none;
}

/*
  Styling of the main content pane
  */
.content
{
    float: left;
    width: 98%;
    background-color: white;
    margin: 0%;
    margin-left: 1%;
    padding: 0%;
    margin-bottom: 1%;
}


.content_inner
{
    border: 1px solid #aaa;
    padding: 1em;
}

.content_post
{
    clear: both;
}



/*

Misc minor styling
*/

.copyright
{
    clear:both;
    padding-bottom: 60pt;
    margin-left: auto;
    margin-right: auto;
    width: 200pt;
}

.copyright_inner
{
    text-align: center;
}

iframe
{
    width: 100%;
    height: 500px;
    border: none;
}

.iframe_label
{
    clear: left;
}

.iframe_header
{
    font-weight: bold;
    margin-right: 0.5em;
}

.submit_error
{
    background-color: red;
}

.change_company_form form,
.change_company_form form div {
 display: inline;
}

.ledger_item:hover {
  background: yellow;
}

