<p>
  <b>Delivery date:</b>
  <%=h @bill.delivery_date %>
</p>

<p>
  <b>Billing date:</b>
  <%=h @bill.billing_date %>
</p>


<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
