<h1><%= t(:editing_company, :scope => :companies) -%></h1>

<%= render :partial => "form" %>

<%= link_to t(:show, :scope => :companies), @company %> |
<%= link_to t(:back, :scope => :companies), companies_path %>
