<p>
  <b>Order item:</b>
  <%= @bill_item.order_item %>
</p>

<p>
  <b>Count:</b>
  <%= @bill_item.count %>
</p>


<%= link_to 'Edit', edit_bill_item_path(@bill_item) %> |
<%= link_to 'Back', bill_items_path %>
