<h1><%= t(:editing_journal, :scope => :journals) %></h1>

<%= render :partial => "form" %>

<%= link_to t(:show, :scope => :journals), @journal %> |
<%= link_to t(:back, :scope => :journals), journals_path %>
