<h1><%= t(:new_journal, :scope => :journals) -%></h1>

<%= render :partial => "form" %>
<script>
journals.addAccountLine();
journals.addAccountLine();
journals.update();
</script>

<%= link_to t(:back, :scope => :journals), journals_path %>
