<h1><%= t(:editing_vat_account, :scope => :vat) -%></h1>

<%= render :partial => "form" %>

<%= link_to t(:show, :scope => :global), @vat_account %> |
<%= link_to t(:back, :scope => :global), vat_accounts_path %>
