<h1><%= t(:editing_product, :scope => :products) -%></h1>

<%= render :partial => "form" %>

<%= link_to t(:show, :scope => :products), @product %> |
<%= link_to t(:back, :scope => :products), products_path %>
